.homeStyle{
    background-image: url(../Images/seamless-wood3-900x900\ \(1\).png);
    background-repeat: repeat;
    background-size: 150px 150px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.carrusel{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background-color: rgb(183, 175, 105);
}

.cardContainer{
    width:800px;
    height: 70vh;
    background-color: white;
    margin:auto;
    display: flex;
    flex-direction: row;
}

img{
    border-style: inset;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: block;
    margin-right: auto;
}