{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light rounded-circle btn-floating m-1"
              href="https://www.facebook.com/profile.php?id=100063007042413" target="_blank" role="button"><i
                class="fa fa-facebook-official"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light rounded-circle btn-floating m-1"
              href="https://www.instagram.com/johnnyroster3/?hl=es" target="_blank" role="button"><i
                class="fa fa-instagram"></i></a>
            <!-- Whatsapp -->
            <a class="btn btn-outline-light rounded-circle btn-floating m-1"
              href="https://api.whatsapp.com/send/?phone=56963865863&text=Hola+amigos%21+%EF%BF%BD&type=phone_number&app_absent=0"
              target="_blank" role="button"><i class="fa fa-whatsapp"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light rounded-circle btn-floating m-1"
              href="https://github.com/jlchnb/Johnny-Roster" target="_blank" role="button"><i
                class="fa fa-github"></i></a>
          </section>
          <section class="d-flex justify-content-evenly">
            <div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13384.045026823354!2d-71.5059132!3d-33.0034787!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689ddcaa489d7b5%3A0x6cdad77a08560da6!2sjohnny%20roster!5e0!3m2!1ses!2scl!4v1682341012334!5m2!1ses!2scl" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </section>
          <section class="mb-4">
            <p>
              Preparamos hamburguesas 100% carne y un delicioso pollito broaster y pues, con esto elaboramos para disgustar tu paladar y disfrutar compartiendo.
            </p>
          </section>
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-white" href="{% url 'index' %}">Johnny-Roster</a>
        </div>
      </footer>
</body>
</html>