{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="../../static/Images/Logo-black.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Johnny-Roster</title>
</head>

<body>
  {% block content %} {% endblock %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="{% url '' %}"><img src="{% static 'Images/Logo-black.png' %}" alt="logotipo" width="60px"
          height="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-disabled="true" href="{% url '' %}">Principal<i
                class="fa fa-fw fa-home"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto<i class="fa fa-fw fa-envelope" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="menu.html" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Menu<i class="fa fa-fw fa-cutlery" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="tercio-de-libra.html">Broaster</a></li>
              <li><a class="dropdown-item" href="onion-bacon.html">100% Carne</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="menu.html">Acompañamientos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Carrito<i
                class="fa fa-fw fa-shopping-cart" aria-hidden="true"></i></a>
          </li>
          <!-- {% url 'iniciar_sesion' %} -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="admin" id="navbarDropdown">
              {% if usuario != None %}
                {{ usuario }}
              {% else %}
                Login
              {% endif %}
              <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" href="#">Cerrar sessión</a>

            </div>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-warning" type="button">
            <a href="{% url 'TipoComida_list' %}">Lista tipos</a>
          </button>
          <button class="btn btn-outline-warning" type="button">
            <a href="{% url 'productos_list' %}">Lista Productos</a>
          </button>
        </form>
      </div>
    </div>
  </nav>
</body>

</html> 