{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Editar Datos de Alumnos</h1><br>
    <br>

    <button type="button">
        <a href="{% url 'agregar_productos' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <table>
        {% if productos %}
        <th>Nombre</th>
        <th>Tipo Comida</th>
        <th>Precio</th>
        <th>Eliminar</th>
        <th>Modificar</th>
        {% for x in productos %}
            <tr>
                <td> {{x.nombre}}</td>
                <td> {{x.tipo_comida}}</td>
                <td> {{x.precio}}</td>
                <td> <a href="">Eliminar</a></td>
                <td> <a href="">Modificar</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
    
</body>
</html>