body{
    margin: 0px;
    color: rgb(0, 0, 0);
}

.cuerpoContacto{
    background-image: url(../Images/370799.jpg);
    background-size: cover;
    height: 110vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.subContainer {
    background-color: rgba(97, 97, 97, 0.673);
    border-radius: 2em;
    height: 50vh;
    width: 80rem;
    padding: 8px;
}