body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: auto;
}

button {
    margin: 20px auto;
    display: block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

form {
    display: inline;
}

#idMensajes {
    text-align: center;
    margin-top: 10px;
}
